* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial;
	padding: 30px;
}

h1 {
	font-family: tahoma;
	font-size: 30px;
}

#header {
	margin: 30px 0;
}

#menu {
    background-color: grey;
    margin-bottom: 30px;
}

#menu a {
	color: white;
	text-decoration: none;
    height: 30px;
    display: inline-block;
    padding: 10px;
    padding-top: 20px;
}

#menu a:hover { 
	background-color: black; 
	border-left: solid;
	border-right: solid;
	border-color: white;
	border-width: 1px;
}

#left_menu {
	width: 20%;
	float: left;
}

#left_menu ul {
	list-style: none;
}

#left_menu a {
	display: inline-block;
	width: 150px;
	color: black;
	text-decoration: none;
	line-height: 40px;
	border: solid;
	border-bottom: none;
	border-color: gray;
	border-width: 1px;
	padding-left: 10px;

}

#left_menu a.last {
	border-bottom: solid;
    border-width: 1px;

}

#left_menu a:hover { 
	font-weight: bold;
	padding-left: 20px;
	background-color: lightgray;
	width: 140px;
	display: inline-block;
}

#content {
	width: 80%;
	float: right;
	margin-bottom: 20px;
}

#content #image {
	border: solid 1px;
}

#content p {
	padding: 20px;
}

#footer {
    background-color: lightgray;
    clear: both;
    margin-top: 30px;
}

#footer a {
	color: black;
	text-decoration: none;
    line-height: 40px;
    display: inline-block;
    vertical-align: center;
    padding: 0 20px;
}

#footer a:hover { 
    text-decoration: underline; 
}

#footer span {
    float: right;
    line-height: 40px;
    padding-right: 20px;
}

