* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial;
    background-color: #F9F9F9;
}

h1 {
	font-family: tahoma;
	font-size: 30px;
}

#main_page {
	width: 900px;
	padding: 50px;
	margin: 0 auto;
	background: #fff;
	border-left: solid 2px #E7E7E7;
	border-right: solid 2px #E7E7E7;

}

#header {
	margin: 0 0 30px 0;
}

#menu{
    background-color: grey;
    margin-bottom: 30px;
}
#menu li {
	list-style: none;
	 display: inline;
	 margin-right: 15px;
}

#menu a {
	line-height: 40px;
	padding: 0 30px;
	margin: 0 1px;
	color: white;
	text-decoration: none;
    display: inline-block;
}

#menu a:hover { 
	background-color: black; 
	border-left: solid;
	border-right: solid;
	border-color: white;
	border-width: 1px;
	margin: 0;
}


#left_menu {
	width: 240px;
	float: left;
}

#left_menu ul {
	list-style: none;
}

#left_menu a {
	display:block;
	color: black;
	text-decoration: none;
	line-height: 40px;
	border: 1px solid gray;
	border-bottom: none;
	padding-left: 10px;

}

#left_menu a.last {
	border-bottom: solid;
    border-width: 1px;

}

#left_menu a:hover { 
	font-weight: bold;
	padding-left: 20px;
	background-color: lightgray;
	
}

#content {
	width: 610px;
	float: right;
}

#content #image {
	border: solid 1px;
}

#content #image img {
	max-width: 100%;
}

#content p {
	padding: 20px;
}

#footer {
    background-color: lightgray;
    margin-top: 30px;
}

#main:after {
	content: ' ';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;

}

#footer a {
	color: black;
	text-decoration: none;
    line-height: 40px;
    display: inline-block;
    vertical-align: center;
    padding: 0 20px;
}

#footer li {
	list-style: none;
	display: inline;
	margin-right: 25px;
}

#footer a:hover { 
    text-decoration: underline; 
}

#footer span {
    float: right;
    line-height: 40px;
    padding-right: 20px;
}

