* {
	padding: 0;
	margin: 0;
}

@font-face{
	font-family: Helvetica Neue;
	src:url(fonts/helveticaneue-thin-webfont.ttf);
}
body {
	font-family: Helvetica Neue;
	background-color: #FFFFFF;
	background: url(images/background.jpg) no-repeat center;
	background-size: cover;

}

img {
	border: 0;
}

#main_page {
	
	overflow: hidden;
}


#header {
	background-image: url(images/header.png);
	background-repeat: repeat;
    list-style: none;
    overflow: hidden;

}




}
#header a img {
	height: 35px;
	float: left;
}

#header a {
	color: rgb(96, 181, 237);
	text-decoration: none;
	vertical-align: middle; 
	height: 35px;
	line-height: 35px;
	display: block;
	padding: 0 10px;
}

#header a.underlined_link {
	text-decoration: underline;
    display: inline;
    color: #FFFFFF;
}

#header span.white_text {
    color: #FFFFFF;
}


#header a.underlined_link:hover {
	background-color: inherit;
	color: #FFFFFF;

}

#header a:hover {
	color: #FFFFFF;
	background-color: #4EABDA;
}

#header ul {
	float: right;
}

 #header li {
    display: inline; 
    margin-right: 10px; 
    float: left;
	
}

.left_border {
	border-left: 2px solid #337EB8;
	background-image: url(images/flag.png);
	background-position: left;
	padding-left: 35px;
	background-repeat: no-repeat;
	color: rgb(96, 181, 237);
	vertical-align: middle;
    line-height: 35px;
}

.right_li {
	background-image: url(images/right_li.png);
	background-repeat: repeat;
	padding-left: 15px;
	padding-right: 10px;

}

#main_block {
	position: relative;
	height: 995px;


}

#main_form {
	background-color: rgba(0,0,0,0.7);
	color: white;
	width: 560px;
	position: absolute;
	top: 50%;
	margin-top: -305px;
	left: 50%;
	margin-left: -280px;
	text-align: center;
}

#main_form a {
	text-decoration: none;
	color: white;
	margin: 30px 0;

}


#main_form h2 {
	text-align: center;
	line-height: 60px;
	vertical-align: middle;
	border-bottom: 2px solid rgba(255,255,255,0.5) ;
}

#main_form li {
	list-style: none;
	margin-bottom: 20px;
}

#main_form li:first-child {
	margin-top: 20px;
}

#main_form li input[type=text], 
#main_form li input[type=password]{
	width: 235px;
	height: 35px;
	background-color: black;
	color: white;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding-left: 20px;
	font-size: 15px;
	padding-right: 20px
}

#main_form li label {
	font-size: 15px;
}

#main_form li input[type=text]:focus, 
#main_form li input[type=password]:focus {
	background-color: #085291;
}

#main_form button[type=submit]{
	width: 150px;
	height: 35px;
	background-image: url(images/create_account.png);
	border: none;
}

#main_form span {
	font-size: 12px;

}


.line:before  {
	content: url(images/line.png);
	padding-right: 7px;
}

.line:after {
	content: url(images/line.png);
	padding-left: 7px;
}

#main_form a.facebook_button {
	background-image: url(images/facebook.png);
	background-repeat: repeat;
	border: none;
	display: inline-block;
	height: 35px;
	width: 270px;
	border-radius: 5px;
	border-top: 1px solid rgba(255,255,255,0.5);
	color: white;

}

#main_form span.f {
	font-size: 25px; 
	font-family: Arial;
	font-weight: bolder;
	border-right: 1px solid rgba(128,128,128,0.3);
	display: inline-block;
	height: 33px;
	width: 40px;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;

}

#main_form span.bold {
	font-size: 15px; 
	font-family: Arial;
	font-weight: bold;
	display: inline-block;
	height: 33px;
	float: left;
	vertical-align: middle;
	line-height: 35px;
	
}


#main_form span.small {
	font-size: 15px; 
	font-family: Arial;
	display: inline-block;
	height: 33px;
	float: left;
	vertical-align: middle;
	line-height: 35px;
}

#main_form span.left_side {
	padding-left: 30px;
}

#main_form span.right_side {
	padding-left: 20px;
}

#main_form span.footer_text {
	display: inline-block;
	width: 340px;
	text-align: center;
}

























