* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial;
	background-color: #76B5C6;
}

img {
	border: 0;
}

#main {
	width: 1000px;
	margin: 0 auto;
	background-color: white;
}

#header {
	clear: both;
	height: 200px;
	position: relative;
}

#logo {
	width: 371px;
	float: left;
}

#main #contacts {
	list-style: none;
	color: #76B5C6;
	font-size: 0.9em;
	position: absolute;
	top: 10px;
	right: 20px;
	
}

#main #contacts a {
	text-decoration: none;
	color: #76B5C6;

}

#main #contacts span {
	display: block;
}

#main_menu {
	background-color: #323232;
	color: #ffffff;
}

#main_menu a {
	color: #ffffff;
	text-decoration: none;
    line-height: 40px;
    vertical-align: middle;
}



#countries_menu {
	position: absolute;
	bottom: 0;
	right: 20px;
}

#top_image img{
	width: 1000px;
}

#countries_menu a{
	display: inline-block;
	color: #76B5C6;
	width: 75px;
    font-size: smaller;
    text-align: center;

}

.fon {
    width: 1000px; /* ширина трех блоков */
	background: url(fon.png) repeat-y; /* фоновая картинка. повторяется по вертикали */
	float: left;
	/* чтобы не добавлять div с style="clear:both;" (не всегда уместно это применять) */
}

.fon ul {
	list-style: none;
}

.fon ul li {
	text-align: center;
	line-height: 30px;
	font-weight: lighter;
	font-size: 15px;
}

.fon h1 {
	font-size: 20px;
	text-align: center;
}

.leftColumn {
	width: 210px;
	float: left;

}

.centerColumn {
	width: 580px;
	float: left;
}

.rightColumn {
	width: 210px;
	float: right;
}




ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: left;
    position: relative;
    margin: 0 20px;
}
ul.menu > li > a {
    display: block;
    padding: 5px;
    color: white;
    background-color: #323232;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid #323232;
}

ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 5px;
    color: white;
    background-color: #323232;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}

#footer p {
    text-align: center;
    clear: both;
    line-height: 40px;
    padding-right: 20px;
    color: #ffffff;

}

