* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial;
	background-image: url(background.png);
	background-repeat: repeat-x;

}

img {
	border: 0;
}

#main {
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	margin-top: 39px;

}

#header {

	/*height: 200px;*/
	position: relative;
	padding-bottom: 10px;
}

#header:after {

 	content: ' ';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;

}

#logo {
	width: 371px;
	float: left;
}

#main #contacts {
	list-style: none;
	color: #76B5C6;
	font-size: smaller;
	/*position: absolute;*/
	top: 10px;
	right: 20px;
	float: right;
	padding: 15px 35px;

}

#main #contacts a {
	text-decoration: none;
	color: #76B5C6;

}

#main #contacts span {
	display: block;
}

#main_menu {
	background-color: #323232;
	color: #ffffff;
}

#main_menu a {
	color: #ffffff;
	text-decoration: none;
    line-height: 30px;
    vertical-align: middle;
}

#contacts_countries {
	float: right;
}

#contacts_countries:after {
	content: ' ';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;

}


#countries_menu {
	/*position: absolute;*/
	bottom: 0;
	right: 20px;
	float:right;
	clear: both;
}

#top_image img{
	width: 1000px;
}

#countries_menu a{
	display: inline-block;
	color: #76B5C6;
	width: 75px;
    font-size: x-small;
    text-align: center;

}

.fon {
    width: 1000px; /* ширина трех блоков */
	background: url(fon.png) repeat-y; /* фоновая картинка. повторяется по вертикали */
	float: left;
	/* чтобы не добавлять div с style="clear:both;" (не всегда уместно это применять) */
}

.fon ul {
	list-style: none;
}

.fon ul li {
	text-align: center;
	line-height: 25px;
	font-weight: lighter;
	font-size: 15px;
}

.fon h1 {
	font-size: 20px;
	text-align: center;
}

.leftColumn {
	width: 210px;
	float: left;

}

.centerColumn {
	width: 580px;
	float: left;
}

.rightColumn {
	width: 210px;
	float: right;
}




ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;

}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: left;
    position: relative;
    /*margin: 0 20px;*/
}
ul.menu > li > a {
    display: block;
    padding: 0 30px;
    color: white;
    background-color: #323232;
    text-decoration: none;
}

ul.menu > li:first-child > a {
	padding-left: 50px;
}

ul.menu > li > a:hover {
    background-color: black;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #323232;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 5px;
    color: white;
    background-color: #323232;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

#footer p {
    text-align: center;
    clear: both;
    line-height: 40px;
    padding-right: 20px;
    color: #ffffff;
}

